@model FPT_Traing_System.Models.Category
@{
	ViewBag.Title = "Create";
}

<h2>Create of Category</h2>

<div class="form-group">
	@Html.ActionLink("Back to Category", "Index", "Categories", null, new { @class = "btn btn-primary" })
</div>

@using (Html.BeginForm("Create", "Categories", FormMethod.Post))
{
	<div class="form-group">
		@Html.LabelFor(m => m.Name)
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name of Category"})
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Description)
		@Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Description of Category" })
	</div>


	<div class="form-group">
		<button type="submit" class="btn btn-primary">Create</button>
	</div>

}