
@model IEnumerable<FPT_Traing_System.Models.Category>
@{
	ViewBag.Title = "Index";
}

<h2>Category</h2>

<div class="form-group">
	@Html.ActionLink("Create", "Create", "Categories", null, new { @class = "btn btn-primary" })
</div>

<table class="table">
	<thead class="thead-light">
		<tr>
			<th scope="col">No.</th>
			<th scope="col">Category Name</th>
			<th scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var category in Model)
		{
<tr>
	<th scope="row">@category.Id</th>
	<td>@category.Description</td>
	<td>@category.Name</td>
	<td>
		@Html.ActionLink("Details", "Details", "Categories", new { id = category.Id}, new { @class = "btn btn-info" })

		@Html.ActionLink("Edit", "Edit", "Categories", null, new { @class = "btn btn-default" })
		@Html.ActionLink("Delete", "Delete", "Categories", new { id = category.Id}, new { @class = "btn btn-danger" })


	</td>
</tr>}
	</tbody>
</table>

