@model FPT_Traing_System.Models.IndexViewModel
@{
	ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

@using Microsoft.AspNet.Identity

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
	<h4>Change @User.Identity.GetUserName() settings</h4>


	<hr />
	<dl class="dl-horizontal">
		<dt>Password:</dt>
		<dd>
			@if (Model.HasPassword)
			{
				@Html.ActionLink("Change Password", "ChangePassword", null, new { @class = "btn btn-danger" })
			}
			else
			{
				@Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-danger" })
			}
		</dd>
	</dl>
</div>
